[user]
    name = Godai Azuma
    email = azuma.g.aa@m.titech.ac.jp
	signingkey = 38468604DDF59670

[color]
    status = auto
    diff = auto
    branch = auto
    grep = auto

[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    safecrlf = true
    editor = vim
    quotepath = false

[push]
    default = upstream

[merge]
    tool = vimdiff
    ff = false

[pull]
    rebase = true

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[diff]
    compactionHeuristic = true

[alias]
    st = status
    sh = show
    ft = fetch
    ps = push
    pf = push -f origin
    pu = push -u origin
    au = add -u
    commit = commit -s

[commit]
	gpgsign = true
