! General
URxvt.depth: 32
URxvt.termName: rxvt
!URxvt.termName: xterm-256color
URxvt.scrollBar: false
URxvt.saveLines: 65535
URxvt.transparent: false
URxvt.internalBorder: 3
URxvt.modifier: alt

URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Appearance
URxvt.font: xft:Ricty-Regular:size=12:antialias=true, \
            xft:Dejavu Sans Mono:size=13:antialias=true
URxvt.boldFont: xft:Ricty-Bold:size=12:antialias=true
URxvt.allow_bold: true
URxvt.foreground: rgba:ffff/ffff/ffff/ffff
URxvt.background: rgba:0000/0000/0000/cccc

URxvt.color4:  #5566ff
URxvt.color12: #7799ff

URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

! Ext
URxvt.perl-ext-common: default,xim-onthespot,clipboard,url-select

! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! URL-Select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/opera
URxvt.url-select.underline: true
URxvt.colorUL: #4682B4

!
! awesome
!
! Render setting for cairo -> pango -> gtk
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight

